body{
    background-attachment: fixed;
background-image:url(images/.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     background-color:gray;  
} 

nav{
    font-size: 25px;
    text-decoration: none;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    background-color:white;
      
    
    /* cursor: pointer; */

}

nav a {

    display: inline-block;
    padding: 6px 6.5px;
    font-weight: 200;
    color:black;
    cursor: pointer;
    text-decoration: none;
    font-family: Arial;
    float:left;

}
#me{
    text-align: right;
    font-size: 50px;
    font-style: oblique;
    color:black;
}
nav a:hover{
background-color:green;
/* opacity: 0.34; */
 
}
 .title{
    font-size: 70px;
    font-style: italic;
    text-align: center;
    background-color: gray;
 }

h2{
    font-size: 20px;
    font-style: italic;
    color:black;
    text-align: center;


}
p{
    font-size: 70px;
    color:white;
    font-weight: 100;
    text-align: center;
    ;
} 
.shape{
 width: 50px;
 margin-right: auto;
 text-align: center;
}
.shape img{
    border-radius: 50%;
    text-align: right;

}
  #aboutme{
    text-align: center;
    font-size: 50px;
    font-style: italic;
}  

 #abit{
     text-align: left;
     font-style: oblique;
     

 }
 .paragraph{
     padding: 5px;
     margin: 10px;
    font-size: 50px;
    color: black;
    font-style: oblique;
    margin-bottom: 80px;
    font-size: 20px;
    text-align:center ;
    margin-top: 0px;
    box-sizing:border-box;
    
    
   

 }
 .images{
     text-align: center;
     padding: 5px;

 }
 
 
  #blog1{
     text-align: left;
     font-style: italic;
     margin-right: 50px;
     
     

     
 } 
 #blog2{
     
     background-color: gray;
     word-break: break-all;
     margin-right: 80px;
     border-width: 60px;
     

 }

  .blogs{
     text-align: left;
     font-size: 10;
     float:left;
     background-color: gray;
     border-width: 60px;
     margin-right: 60px;
     
     

 } 
 

 #blogs.images{
     padding: 0;
     margin: 10;
     text-align: center;

 }
 
  .paragraph{
      margin-bottom: 80px;
  }
 
